<div id="pieceWindow" ng-controller="pieceViewController" ng-init="init()">
  <h2>{{piece.title}}</h2>
  <h4>{{piece.artist}}</h4>
  <div id="linkContainer">
    <a class="keyLink" ng-href="" ng-click="updatePDF('C')">Concert</a>
    <a class="keyLink" ng-href="" ng-click="updatePDF('B')">B-flat</a>
    <a class="keyLink" ng-href="" ng-click="updatePDF('E')">E-flat</a>
  </div>
  <div id="pdfRenderer">
  </div>
  	  <div class="g-savetodrive"
	       data-src="http://timserver.us.to/jazz/myfile.pdf"
	       data-filename="My Statement.pdf"
	       data-sitename="Jazz Gallery">
	  </div>
    <iframe id="videoFrame" width="420" height="315"
	    ng-src="{{trustSrc(piece.videoURL)}}">
      </iframe>
</div>
